/* General Styling */
body{
    font-family: Arial, sans-serif;
    background-color: #e7ecf1;
    margin: 0;
    padding: 20px;
}

.resume-container {
    display:flex ;
    flex-direction: row;
    background-color:rgb(183, 228, 230) ;
    width: 90%;
    margin: 0 auto;
    border-radius: 10px;
    box-shadow: 0 0 20px rgb(216, 127, 203);
}
/* Left Section Styling */
.left-section {
    background-color: rgb(126, 227, 215);
    color: #3e29b5;
    padding: 20px;
    width: 35%;
    text-align: center;
    border-right:5px solid #de76d5 ;
}

.profile-picture {
    width: 150px;
    height: 150px;
    margin-top: 10%;
    border-radius: 50%;
    border: 5px solid #e583e5;
    margin-bottom: 20px;
}

h1 {
    font-size: 24px;
    margin: 10px 0;
    margin-bottom: 30px;
    text-align: center;
    color: #581cab;
}

h3 {
    font-size: 18px;
    padding: 2%;
    margin: 20px 0 10px;
    color: #0573f1;
    border-radius: 10px;
    box-shadow:0 0 15px #e583e5;
    margin-top: 5%;
    margin-bottom: 5%;
}

ul {
    list-style-type: fill round;
    padding: 2xp;
    margin: 10px 0;
}

ul li {
    margin: 5px 0;
}

/* Right Section Styling */
.right-section {
padding: 20px;
width: 65%;
color: #413498;
}

button {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    border-radius: 10px;
    box-shadow: 0 0 15px #ee8fe6;
    cursor: pointer;
    margin-top: 10px;
    font-size: 18px;
    background-color: #42d4d0;
    font-style: italic;
    color: #2ea8ea;
}
button:hover{
    background-color: rgb(239, 180, 222);
}